@model DapperAbstract.Address

@{
    ViewBag.Title = "DetailsAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2 class="text-primary"><span class="glyphicon glyphicon-home"></span>&nbsp;@Model.ObjectName</h2>
    <p class="text-muted">@Model.Addres</p>
</div>


<div id="CtpDetails">
    <ctp bindingid="@Model.BindingId" datainterval="360" updatetimeout="30000"></ctp>

</div>


<template id="templ">
    <div>
        {{lastData.temp1}}
    </div>    
</template>



@section scripts{
<script src='@Url.Content("~/Scripts/vue.min.js")'></script>
<script src='@Url.Content("~/Scripts/vuedata/ctpview.js?e="+@DateTime.Now.ToString("ddmmyy HH"))'></script>




<script type="text/javascript">
    $(function () {
        new Vue({
            el: "#CtpDetails"
        });
    })

</script>
}