@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h2 class="text-primary"><span class="glyphicon glyphicon-list"></span>&nbsp;Общий вид</h2>
    <p class="text-muted">Последние данные, полученные со всех объектов</p>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" style=" margin-bottom:10px;">
        <span class="text-muted">Следующее обновление через:</span><span id="timer"></span> сек
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" id="DataContent">
       @Html.Action("LoadLastData")
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        function displayTime(sec) {
            $('#timer').text(sec);
        }

        function reloadLastData() {
            
            $.ajax('@Url.Action("LoadLastData","Ctp")', {
                method: 'GET',
                data: {},
                beforeSend: function () {

                    loading(true);
                },
                success: function (data, status) {
                    $("#DataContent").html(data);
                    loading(false);
                    counter = 1;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#DataContent").html('При опросе сервера возникла ошибка! Свяжитесь с разработчиком');
                    loading(false);
                    counter = 1;
                }
            });
        }

        var timeUpdate = 30;
        var counter = 1;

        setInterval(function () { if (counter <= timeUpdate) { displayTime(timeUpdate - counter); counter++; } }, 1000);

        setInterval(function () {
            reloadLastData();
        }, timeUpdate * 1000);

       
    </script>
}